# LLM
GEMINI_API_KEY=your_gemini_api_key
GROQ_API_KEY=your_groq_api_key


# Travel APIs
AVIATIONSTACK_API_KEY=260afb1497a12d7adc136f0dda442466
RAPIDAPI_KEY=76759c2625msh9214d01457a5313p11c5c1jsna845d2ecea94

# Accommodation & Places APIs
GEOAPIFY_KEY=806c8767714f4b6aabe2acbf1f962629

# Knowledge / Search
TAVILY_API_KEY=your_tavily_key



# Database
SUPABASE_URL=https://yourproject.supabase.co
SUPABASE_SERVICE_KEY=your_supabase_service_key

# Media
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_key
CLOUDINARY_API_SECRET=your_cloudinary_secret

# Payments
RAZORPAY_KEY_ID=your_razorpay_key
RAZORPAY_KEY_SECRET=your_razorpay_secret

# CORS
ALLOWED_ORIGINS=https://your-vercel-app.vercel.app,http://localhost:5173